.required:after {
    content:" *";
    color:red;
}

table {cursor: pointer;}

#modalLoader p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
}